<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="css/allorder.css"  media="all">
</head>
<body>



<table class="layui-hide" id="test" lay-filter="mytable"></table>











<script src="js/jquery.js" charset="utf-8"></script>

<script src="layui/layui.js" charset="utf-8"></script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: red;"></i>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:inline="none">
    layui.use(['form', 'laydate','table','layer'], function(){
        var table = layui.table
            ,   layer=layui.layer
            ,   form=layui.form
            ,   laydate=layui.laydate;



        //加载数据表格
        table.render({
            elem: '#test'
            ,url:'/finddoneorder'
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar: [null, "exports","print"]
            ,cols: [[
                {field:'orderId', title: 'ID' ,align: 'center',sort: true}
                ,{field:'orderManname', title: '男方姓名'}
                ,{field:'orderWomanname', title: '女方姓名'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'orderAdress', title: '家庭地址'}
                ,{field:'orderDate', title: '拍摄日期',sort:true,align: 'center'}
                ,{field:'orderDress', title: '婚纱样式',align: 'center'}
                ,{field:'orderArea', title: '拍摄地区',align: 'center'}
                ,{field:'orderCity', title: '拍摄城市',align: 'center'} //单元格内容水平居中
                ,{field:'orderPhone', title: '联系电话'}
                ,{field:'orderWechat', title: '微信'}
                ,{field:'orderDesc', title: '订单备注'}
                ,{field:'orderCameraman', title: '摄影师',align: 'center'}
                ,{field:'orderStatus', title: '订单状态',align: 'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
            // ,page: true
        });


        //表格监听行工具事件
        table.on('tool(mytable)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        type:'post',
                        url:'/deleteorder',
                        data:{
                            orderId:obj.data.orderId
                        },
                        dataType:'json',
                        success:function (data) {
                            table.reload('test', {
                                url: '/finddoneorder'
                            });//表格重载
                            layer.msg("删除成功")
                        },//向服务端发送删除指令
                        error:function () {
                            layer.alert("删除接口异常")
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){ //编辑
                var flag=obj.data.orderStatus=='完成'?true:false;

                form.val("formtest",obj.data);//向表单赋值

                if(obj.data.orderArea=='东南亚'){
                    $('#city').html('<option value="">请选择城市</option>');
                    $('#city').append(new Option("巴厘岛", "巴厘岛"));
                    $('#city').append(new Option("普吉岛", "普吉岛"));
                    $('#city').append(new Option("日本", "日本"));
                    $('#city').append(new Option("马尔代夫", "马尔代夫"));
                }else if(obj.data.orderArea=='国内') {
                    $('#city').html('<option value="">请选择城市</option>');
                    $('#city').append(new Option("三亚", "三亚"));
                    $('#city').append(new Option("丽江", "丽江"));
                    $('#city').append(new Option("上海", "上海"));
                    $('#city').append(new Option("大连", "大连"));
                    $('#city').append(new Option("海南", "海南"));
                    $('#city').append(new Option("青岛", "青岛"));
                    $('#city').append(new Option("杭州", "杭州"));
                    $('#city').append(new Option("温州", "温州"));
                }else if(obj.data.orderArea=="欧洲海外"){
                    $('#city').html('<option value="">请选择城市</option>');
                    $('#city').append(new Option("巴黎", "巴黎"));
                    $('#city').append(new Option("威尼斯", "威尼斯"));
                    $('#city').append(new Option("布拉格", "布拉格"));
                    $('#city').append(new Option("瑞士", "瑞士"));
                    $('#city').append(new Option("罗马", "罗马"));
                    $('#city').append(new Option("普罗旺斯", "普罗旺斯"));
                }
                cameraselect(obj.data.orderCameraman);//动态修改摄影师下拉列表,并选中
                form.val("formtest", {
                    "orderCity":obj.data.orderCity
                    ,"orderStatus":flag
                });

                layer.open({
                        type:'1',
                        content:$('#editorder'),
                        title:'修改',
                        area:'800px',
                        btn:['修改','取消'],
                        closeBtn:'2',
                        yes: function(index, layero){
                            layero.find('form').find('button[lay-submit]').click();//模拟点击提交按钮
                            layer.close(index);
                        },
                        btn2: function(index, layero){
                            //按钮【按钮二】的回调
                            layer.close(index);
                        }

                    }
                );

            }
        });



//异步请求摄影师数据
        function cameraselect(param){
            if(param=="未指派"){
                $('#camera').html('<option value="">请选择摄影师</option>');
                $('#camera').append(new Option("未指派", "未指派",null,true));
            }else{
                $('#camera').html('<option value="">请选择摄影师</option>');
                $('#camera').append(new Option("未指派", "未指派"));
                $('#camera').append(new Option(param, param,null,true));
            }
            $.ajax({
                type:'post',
                url:'/freecameraman',
                dataType:'json',
                contentType:'application/json',
                success:function (data) {
                    jQuery.each(data.cameralist, function(i,item){
                        $('#camera').append(new Option(item, item));
                    });
                    form.render('select');//重新渲染所有select选项
                },
                error:function () {
                    layer.alert("摄影师数据异常")
                }
            });
        }


        //表单动态地区下拉框
        form.on('select(areafilter)',function (data) {
            if(data.value==""){
                $('#city').html('<option value="">请选择城市</option>');
            }else if(data.value=="国内"){
                $('#city').html('<option value="">请选择城市</option>');
                $('#city').append(new Option("三亚", "三亚"));
                $('#city').append(new Option("丽江", "丽江"));
                $('#city').append(new Option("上海", "上海"));
                $('#city').append(new Option("大连", "大连"));
                $('#city').append(new Option("海南", "海南"));
                $('#city').append(new Option("青岛", "青岛"));
                $('#city').append(new Option("杭州", "杭州"));
                $('#city').append(new Option("温州", "温州"));
            }else if(data.value=="东南亚"){
                $('#city').html('<option value="">请选择城市</option>');
                $('#city').append(new Option("巴厘岛", "巴厘岛"));
                $('#city').append(new Option("普吉岛", "普吉岛"));
                $('#city').append(new Option("日本", "日本"));
                $('#city').append(new Option("马尔代夫", "马尔代夫"));
            }else if(data.value=="欧洲海外"){
                $('#city').html('<option value="">请选择城市</option>');
                $('#city').append(new Option("巴黎", "巴黎"));
                $('#city').append(new Option("威尼斯", "威尼斯"));
                $('#city').append(new Option("布拉格", "布拉格"));
                $('#city').append(new Option("瑞士", "瑞士"));
                $('#city').append(new Option("罗马", "罗马"));
                $('#city').append(new Option("普罗旺斯", "普罗旺斯"));
            }
            form.render('select');
        });



        //监听提交
        form.on('submit(demo2)', function(data){
            if(data.field.orderArea==""||data.field.orderCity==""){//判断是否选择了城市
                layer.alert("拍摄地点不可为空",{
                    title: '提示'
                });
                return false;
            }else if(data.field.orderDress==""){
                layer.alert("婚纱样式不可为空",{
                    title: '提示'
                });
                return false;
            }else if(data.field.orderCameraman=="") {
                layer.alert("摄影师如未指派，请选择未指派", {
                    title: '提示'
                });
                return false;
            }
            $.ajax({
                type:'post',
                url:'/editorder',
                dataType:'json',
                data: JSON.stringify(data.field),
                contentType:'application/json',
                success:function (data) {
                    table.reload('test', {
                        url: '/finddoneorder'
                    });//表格重载
                    layer.msg("修改成功");
                },
                error:function () {
                    layer.alert("修改接口异常")
                }
            });

            return false;

        });


        //表单日期
        laydate.render({
            elem: '#date'
        });



    });
</script>

</body>
<div class="layui-row editPage" id="editorder" style="margin-top: 10px;">
    <div class="layui-col-md12">
        <form class="layui-form layui-form-pane" action="" method="post" lay-filter="formtest">
            <div class="layui-form-item" style="display: none">
                <label class="layui-form-label">订单id</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderId" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">男方姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderManname" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">女方姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderWomanname" lay-verify="required" placeholder="请输入"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">家庭地址</label>
                <div class="layui-input-block">
                    <input type="text" name="orderAdress" lay-verify="required"  autocomplete="off" placeholder="请输入地址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">拍摄日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderDate" lay-verify="required"  id="date" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">婚纱样式</label>
                <div class="layui-input-block">
                    <select name="orderDress" lay-filter="aihao">
                        <option value=""></option>
                        <option value="狂拽炫酷">狂拽炫酷</option>
                        <option value="优雅大方" >优雅大方</option>
                        <option value="大红袍">大红袍</option>
                        <option value="传统">传统</option>
                        <option value="黑色幽默">黑色幽默</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">拍摄地点</label>
                <div class="layui-input-inline">
                    <select id="area" name="orderArea" lay-filter="areafilter">
                        <option value="" >请选择地区</option>
                        <option value="国内" >国内</option>
                        <option value="东南亚">东南亚</option>
                        <option value="欧洲海外">欧洲海外</option>
                    </select>
                </div>
                <div class="layui-input-inline" >
                    <select name="orderCity" id="city" lay-filter="cityfilter">
                        <option value="" >请选择城市</option>
                    </select>
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderPhone" lay-verify="required|phone"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">微信</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderWechat" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">订单备注内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="orderDesc"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">摄影师选择</label>
                <div class="layui-input-block">
                    <select name="orderCameraman" lay-filter="orderCameraman" id="camera">
                        <option value="">请选择摄影师</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" pane="">
                <label class="layui-form-label">订单状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="orderStatus" lay-skin="switch" lay-filter="switchTest" title="开关" lay-text="完成|未完成" value="完成">
                </div>
            </div>

            <div class="layui-form-item" style="display: none">
                <button class="layui-btn" lay-submit="" lay-filter="demo2">提交订单</button>
            </div>

        </form>
    </div>
</div>
</html>