<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>修改订单</title>
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <script th:inline="javascript">
        var man = [[${man}]];
        var woman = [[${woman}]];
        var adress = [[${adress}]];
        var date = [[${date}]];
        var area = [[${area}]];
        var city = [[${city}]];
        var phone = [[${phone}]];
        var wechat = [[${wechat}]];
        var cameraman = [[${cameraman}]];
        var desc = [[${desc}]];
        var status = [[${phone}]];
    </script>
</head>
<body>

<script src="js/jquery.js" charset="utf-8"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script th:inline="none">
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
        ,   layer = layui.layer
        ,   laydate = layui.laydate;


        //日期
        laydate.render({
            elem: '#date'
        });


        //给表单赋值
        form.val("formtest",{
            "orderManname":man
            ,"orderWomanname":woman
            ,"orderAdress":adress
            ,"orderDate":date
            ,"orderArea":area
            ,"orderCity":city
            ,"orderPhone":phone
            ,"orderWechat":wechat
            ,"orderCameraman":cameraman
            ,"orderDesc":desc
            ,"orderStatus":status
        })


        //动态地区下拉框
        form.on('select(areafilter)',function (data) {
            if(data.value==""){
                $('#city').html('<option value="">请选择城市</option>');
            }else if(data.value=="国内"){
                $('#city').html('<option value="">请选择城市</option>');
                $('#city').append(new Option("三亚", "三亚"));
                $('#city').append(new Option("丽江", "丽江"));
                $('#city').append(new Option("上海", "上海"));
                $('#city').append(new Option("大连", "大连"));
                $('#city').append(new Option("海南", "海南"));
                $('#city').append(new Option("青岛", "青岛"));
                $('#city').append(new Option("杭州", "杭州"));
                $('#city').append(new Option("温州", "温州"));
            }else if(data.value=="东南亚"){
                $('#city').html('<option value="">请选择城市</option>');
                $('#city').append(new Option("巴厘岛", "巴厘岛"));
                $('#city').append(new Option("普吉岛", "普吉岛"));
                $('#city').append(new Option("日本", "日本"));
                $('#city').append(new Option("马尔代夫", "马尔代夫"));
            }else if(data.value=="欧洲海外"){
                $('#city').html('<option value="">请选择城市</option>');
                $('#city').append(new Option("巴黎", "巴黎"));
                $('#city').append(new Option("威尼斯", "威尼斯"));
                $('#city').append(new Option("布拉格", "布拉格"));
                $('#city').append(new Option("瑞士", "瑞士"));
                $('#city').append(new Option("罗马", "罗马"));
                $('#city').append(new Option("普罗旺斯", "普罗旺斯"));
            }
            layui.form.render('select');
        })



        //监听提交
        form.on('submit(demo2)', function(data){
            if(data.field.orderArea==""||data.field.orderCity==""){//判断是否选择了城市
                layer.alert("拍摄地点不可为空",{
                    title: '提示'
                });
                return false;
            }else if(data.field.orderDress==""){
                layer.alert("婚纱样式不可为空",{
                    title: '提示'
                });
                return false;
            }

            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // });


        });



    });
</script>
</body>
<div class="layui-row">
    <div class="layui-col-md12">
        <form class="layui-form layui-form-pane" action="/order" method="post" lay-filter="formtest">
            <div class="layui-form-item">
                <label class="layui-form-label">男方姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderManname" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">女方姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderWomanname" lay-verify="required" placeholder="请输入"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">家庭地址</label>
                <div class="layui-input-block">
                    <input type="text" name="orderAdress" lay-verify="required"  autocomplete="off" placeholder="请输入地址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">拍摄日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderDate" lay-verify="required"  id="date" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">婚纱样式</label>
                <div class="layui-input-block">
                    <select name="orderDress" lay-filter="aihao">
                        <option value=""></option>
                        <option value="狂拽炫酷">狂拽炫酷</option>
                        <option value="优雅大方" >优雅大方</option>
                        <option value="大红袍">大红袍</option>
                        <option value="传统">传统</option>
                        <option value="黑色幽默">黑色幽默</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">拍摄地点</label>
                <div class="layui-input-inline">
                    <select id="area" name="orderArea" lay-filter="areafilter">
                        <option value="" >请选择地区</option>
                        <option value="国内" >国内</option>
                        <option value="东南亚">东南亚</option>
                        <option value="欧洲海外">欧洲海外</option>
                    </select>
                </div>
                <div class="layui-input-inline" >
                    <select name="orderCity" id="city" lay-filter="cityfilter">
                        <option value="" >请选择城市</option>
                    </select>
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderPhone" lay-verify="required|phone"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">微信</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderWechat" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">订单备注内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="orderDesc"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-inline">摄影师选择</label>
                <div class="layui-input-block">
                    <select name="orderDress" lay-filter="aihao">
                        <option value="">未指派</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="demo2">跳转式提交</button>
            </div>
        </form>
    </div>
</div>
</html>